{% extends "base.html" %}
{% block content %}
<div id="wrapper">
	<div id="userpanel">
		<table>
			<tr>
				<td><h5>Welcome [{{ username }}]</h5></td>
				<td><font color="#AAA">|</font></td> 
				<td><h5>&nbsp;<a href="/accounts/logout/">logout</a></h5></td>
			</tr>
		</table>	
	</div>
	<div id="msg">
With <b><i>admin panel</i></b>, your back end tasks are just few clicks away. Please enter the URL you wish to crawl along with the number of pages to be crawled. Crawling pages from websites can take several minutes depending upon the bandwidth of your internet connection. Please be patient. You can also easily update the fingerprint database with a single click.  	
	</div><br/>
	{% if msg %}
		<div id="middle_alt"><font color="GREEN">{{msg}}</font></div><br/>
	{% endif %}
	{% if update_msg %}
		<div id="middle_alt"><font color="GREEN">{{update_msg}}</font></div>
	{% endif %}<br/>	
	<br/>		
	<span id="crawl"><a href="#" style="text-decoration:none;">Crawl</a></span>
	<span id="update"><a href="/update_fp/" style="text-decoration:none;">Update FP DB</a></span>
	<div id="middle_wrapper">
		<div id="lside">
			<form action="/moderator/" method="POST">{% csrf_token %}
				<div class="">
				{% if invalid_msg %}
					<font color="RED">{{invalid_msg}}</font>
				{% endif %}
							<div style="color:#652D89;">{{ form.url.errors }}</div>
							<label for="id_url">URL </label>
							{{ form.url }}<br/><font color="#999"><i>Please strip http:// header</i></font> 
				</div><br/>
				<div class="">
							<div style="color:#652D89;">{{ form.no_of_pages.errors }}</div>
							<label for="id_no_of_pages">Number of Pages to crawl </label>
							{{ form.no_of_pages }}<br/><font color="#999"><i>Please use an integer value</i></font> 
				</div><br/>
				<div>
				<input type="submit" value="Start Crawling" />
				</div>
			</form>
		</div>
		<div id="rside">			
			<p style="font-size:1.3em;font-weight:600;letter-spacing:-0.03em;margin:0.5em 0;padding:5px;border-bottom:1px solid #ccc;">Crawled Sites in Repo</p>
			{% if empty_msg %} 
				<font color="RED">{{ empty_msg }}</font>
			{% endif %}
			{% for s in sites %}{% load truncatechars %}
				<p id="site-list">http://{{s|truncatechars:"30"}}</p>
			{% endfor %}
			<br/><br/>
		</div>
		<div style="clear:both;"></div><br/>
	</div>
</div>
{% endblock %}
