<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/site_media/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h3>Raid on Code Pirate - Plagiarism Detection System</h3>
			</div>	
	
			{% block content %}
				<p><a href="/accounts/register/">Register</a></p>
				<p><a href="/accounts/login/">Login</a></p>
			{% endblock %}
			
			<div id="footer">
					Copyright (c) 2010, ROCOP
			</div>
		</div>	
	</body>
</html>
