{% extends "base.html" %}
{% block content %}
	<div id="wrapper">
		<div id="userpanel">
			<table>
				<tr>
					<td><h5>Welcome [{{ username }}]</h5></td>
					<td><font color="#AAA">|</font></td> 
					<td><h5>&nbsp;<a href="/accounts/logout/">logout</a></h5></td>
				</tr>
			</table>	
		</div>
		<fieldset>
			<legend>Guidelines</legend>
			<p><font color="#A3DA53">></font><font color="#606053"> Maximum file upload size is 500KB.</font></p>
			<p><font color="#A3DA53">></font><font color="#606053"> Only plain text files are supported.</font></p>
		</fieldset><br/>
		<fieldset>
			<legend>Check Plagiarism</legend><br/>
			<div style="color:#F00;">{{error}}</div>
			<form action="/file_check/" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="fileCheck">
					<input type="file" id="id_file" name="file" size="50px"/><br/>
					<font color="#999"><i>Please select a file to upload</i></font>
				</div>
				<br/><!--
				<div class="radio">
					<label for="id_choicefield_0">
						<input id="id_choicefield_0" type="radio" name="choicefield" value="p" checked="True"/>Simple Plain Text
					</label>
					<label for="id_choicefield_1">
						<input id="id_choicefield_1" type="radio" name="choicefield" value="c">Source Code
					</label>
				</div>	-->
		</fieldset>			
				<div>
					<input type="submit" value="Begin Detection" />
				</div>
			</form>
			
	</div>
{% endblock %}
