{% extends "base.html" %}
{% block content %}
	<div id="wrapper_home">
		<div id="new">
			<h2>New to ROCOP?</h2>
			Easy, free, fast, and accurate service. Find out whether or not your document is plagiarised.
			<p id="sign_up"><a href="/accounts/register/">Register</a></p>
		</div>
		<div id="usual">
			<h2>Have an account?</h2>
				<p id="sign_up"><a href="/accounts/login/">Login</a></p>
			<div id="down">
				Using ROCOP is simple ...
				<ol>	
				<li>Login to your account</li>
				<li>Upload the document</li>
				<li>Get the result</li>
				</ol>
			</div>
		</div>	
	</div><br/>
{% endblock %}
