{% extends "base.html" %}
{% block content %}
	<form action="" method="post" id="register_form">{% csrf_token %}
		<fieldset>
			<legend>Register</legend>
			<div class="registrationDetail">
				<div style="color:#652D89;">{{ form.username.errors }}</div>
				<label for="id_username">Username </label>
				{{ form.username }}
			</div>
			<div class="registrationDetail">
				<div style="color:#652D89;">{{ form.email.errors }}</div>
				<label for="id_email">Email Address </label>
				{{ form.email }}
			</div>
			<div class="registrationDetail">
				<div style="color:#652D89">{{ form.password1.errors }}</div>
				<label for="id_password1">Password </label>
				{{ form.password1 }}
			</div>
			<div class="registrationDetail">
				<div style="color:#652D89;">{{ form.password2.errors }}</div>
				<label for="id_password2">Confirm password </label>
				{{ form.password2 }}
			</div>	
		</fieldset>
		<div>
				<input type="submit" value="Register" />
		</div>
	</form>
	<p><a href="/accounts/login/">Login</a>&nbsp; &nbsp; &nbsp;<a href="/">Home</a></p>
{% endblock %}
