{% extends "base.html" %}
{% block content %}
	<div id="wrapper">
		<div id="userpanel">
			<table>
				<tr>
					<td><h5>Welcome [{{ username }}]</h5></td>
					<td><font color="#AAA">|</font></td> 
					<td><h5>&nbsp;<a href="/accounts/logout/">logout</a></h5></td>
				</tr>
			</table>	
		</div>
		<div id="recheck">
			<a href="/file_check/">Wanna Check Again?</a>
		</div><br/>
		<div id="middle_alt">
				<a href="/report/">Please click here to see the plagiarised part in <strong><i>{{filename}}</i></strong></a>
				<br/><br/>Overall Similarity Index: <font color="GREEN"><b>{{allInfo.1|floatformat}}%</b></font>
		</div><br/>
		
		{% if allInfo.1 %}
		<div id="middle_wrapper">
			<div>
					<table id="result_tab" cellpadding="5" cellspacing="5">
						<tr id="result_heading">
							<td>Plagiarised Source</td><td>% Plagiarism</td><td>Relevancy</td>
						</tr>
						{% for item in allInfo.0 %}
						<tr>
							<td>{% load truncatechars %}<a href="#">{{item.0|truncatechars:"55"}}</a></td><td>{{item.1|floatformat}}</td>
							{% if item.1 < 5 %}
								<td><font color="#FF9900"><b>Low</b></font></td>
							{% endif %}
							{% if item.1 > 5 and item.1 < 20 %}
								<td><font color="#CC9933"><b>Moderate</b></font></td>
							{% endif %}
							{% if item.1 > 20 %}
								<td><font color="#FF3300"><b>High</b></font></td>	
							{% endif %}
						</tr>
						{% endfor %}
					</table>		
			</div>
		</div>
		{% else %}
				<div id="middle_wrapper" style="color:#F00;">Great! You seem to write document on your own. No plagiarism detected. </div>
		{% endif %}
	</div>
	<br/>
	<div id="middle_alt">
		ROCOP is FREE as in both FREE Beer & Freedom. Enjoy! :)
	</div><br/>

{% endblock %}
	
